<!DOCTYPE html>
<html>
<head>
  <title>Vue ToDo Demo</title>
  <style>
    .error{color:red;}
    .done-marker,.todo-marker{font-size:1.5rem}
  </style>
</head>
<body>
  <div id="app">
    <h1>我的待办事项:</h1>
    <input v-model="newTodoText" @keyup.enter="create"  @input="clearError" placeholder="请输入待办事项">
    <button @click="create" >创建</button> 
    <p v-if="error" class="error">{{error}}</p>
    <ul>
      <li v-for="todo in todos">
        <span v-show="todo.done" class="done-marker" @click="markTodo(todo)">✓</span>
        <span v-show="!todo.done" class="todo-marker" @click="markDone(todo)">☐</span>
        <span class="content">{{todo.content}}</span>
      </li>
    </ul>
  </div>
  <script src="app.bundle.js"> </script>
</body>
</html>
